.propertyDetails__header {
  margin: 10px;
  font-weight: 400;
}

.propertyDetails {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.propertyDetails__data {
  width: 1000px;
}

.propertyDetails__carousel {
  border-radius: 10px;
  margin: 30px;
  height: 500px;
}

.propertyDetails__carouselImage {
  width: 500px;
  max-height: 450px;
  object-fit: contain;
}

.propertyDetails__data {
  width: 500px;
}

.propertyDetails__dataItem {
  display: flex;
  margin: 20px;
  align-items: center;
}

.propertyDetails__dataItemSpan {
  font-weight: 500;
  font-size: larger;
  width: 200px;
  margin-right: 20px;
}
