.addProperty {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
}

.addProperty__header {
  margin: 10px;
  font-weight: 400;
  text-align: left;
}

.addProperty__formGroup {
  text-align: center;
  margin-top: 50px;
}

h2 {
  margin: 100px;
}

.addProperty__label {
  text-align: left;
  width: 200px;
  font-size: larger;
  font-weight: 600;
}

.addProperty__submitButton {
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: #f88c8c;
  border: none;
  font-weight: 600;
  width: 300px;
  box-shadow: 5px 10px 15px rgb(211, 201, 201);
  outline: none;
}

.addProperty__submitButton:hover {
  background-color: #e95c5c;
}

button:focus {
  border: none;
}

input {
  width: 500px;
  padding: 10px;
  border-radius: 10px;
  border-color: rgb(174, 167, 160);
}

.addProperty__error {
  width: 350px;
  color: red;
  margin-top: 10px;
  text-align: left;
}
