.login {
  margin-top: 70px;
  border: 1px solid rgb(209, 198, 198);
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  box-shadow: 5px 10px 15px rgb(211, 201, 201);
  border-radius: 10px;
  text-align: center;
}

.login__label {
  width: 150px;
  font-size: larger;
  font-weight: 600;
  text-align: left;
}

.login__formGroup {
  margin-top: 50px;
}

.login__submitButton {
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: #f88c8c;
  border: none;
  font-weight: 600;
  width: 300px;
  box-shadow: 5px 10px 15px rgb(211, 201, 201);
  transition-delay: 30ms;
  outline: none;
}

.login__submitButton:hover {
  background-color: #e95c5c;
}
